html,body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.article {
	/*outline: 1px solid red;*/
	width: 50%;
	padding: 5%;
}
.article h1 {
	/*outline: 1px solid red;*/
	margin: 5%;
	text-align: left;
}
.article p {
	/*outline: 1px solid red;*/
	font-size: 14px;
	text-align: left;
}
.image {
	/*outline: 1px solid red;*/
	background-color: gray;	
	margin: 5%;
	padding: 50% 0;
	
	color: white;
	text-align: center;
	line-height: 50%;
}